:root {
  --callout-important-bg: #ffebee;
  --callout-important-border: #f44336;
}

.callout {
  display: flex;
  align-items: center;
  padding: 1em;
  margin: 1em 0;
  border-radius: 6px;
}

.callout-icon {
  margin-right: 1em;
  font-size: 1.5em;
}

.callout-content {
  flex: 1;
}

.callout-important {
  border-color: #f44336;
  background: #ffebee;
}

.callout-warning {
  border-color: #ff9800;
  background: #fff3e0;
}

.callout-info {
  border-color: #2196f3;
  background: #e3f2fd;
}

.callout-icon i {
  color: inherit;
}

/* Stylowanie wszystkich linków */
a {
  color: #007bff; /* Domyślny kolor linku, taki jak w PaperMod */
  text-decoration: none; /* Brak podkreślenia */
  font-weight: normal; /* Normalna grubość czcionki */
  transition: color 0.3s ease, text-decoration 0.3s ease, font-weight 0.3s ease; /* Płynna zmiana koloru, podkreślenia i grubości czcionki */
}

a:hover {
  color: #007bff; /* Kolor linku po najechaniu, taki sam jak domyślny */
  text-decoration: underline; /* Podkreślenie linku po najechaniu */
  font-weight: bold; /* Pogrubienie linku po najechaniu */
}