{{ $type := .Get 0 | default "info" }}
<div class="callout callout-{{ $type }}">
  <div class="callout-icon">
    {{ if eq $type "important" }}
      <i class="fas fa-exclamation-circle"></i>
    {{ else if eq $type "warning" }}
      <i class="fas fa-exclamation-triangle"></i>
    {{ else if eq $type "info" }}
      <i class="fas fa-info-circle"></i>
    {{ else }}
      <i class="fas fa-comment"></i>
    {{ end }}
  </div>
  <div class="callout-content">
    {{ .Inner | markdownify }}
  </div>
</div>